- var min = dev ? '' : '.min';

// Title and icon
title Colden Cullen
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel='icon', type='image/png', href='/images/icon.png')

// Stylesheets too include
link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Open+Sans|Russo+One|Ubuntu+Mono")
link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css")
link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap#{min}.css")
link(rel='stylesheet', href="/lib/pagr/stylesheets/pagr.css")
link(rel='stylesheet', href="/stylesheets/style.css")

// Scripts to include
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery#{min}.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui#{min}.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap#{min}.js")
script(src="/lib/pagr/javascripts/pagr.js")
script(src="/javascripts/script.js")

